   html{
       scroll-behavior: smooth;
   }
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    .continar{
        max-width:100%;
        margin:auto;
        background-color: antiquewhite;
    }

    .row{
        width:100%;
    }
   .row::after{
       clear:both;
       content:'';
       display:block;
   }

   [class*="col-"]{
       float:left;
       padding:15px;
   }

   [class*="col-"]{
       width:100%;
   }

   /*----------heder start------*/

    header{
        background-color: antiquewhite;
        padding:0% 1%;
        text-align: center;
    }

    .res-name p{
        color:rgb(70, 83, 9);
        font-size:1.5rem;
        font-weight: bolder;
        text-align: center;
        margin-top: 10px;
    }
    .res-name h1{
         color:rgb(187, 37, 37);
         font-size: 2.5rem;
         text-align: center;
         
    }

    nav ul li{
        display:block;
    }
    nav ul li a{
        display:block;
        text-decoration: none;
        font-weight: bolder;
        color:rgb(104, 119, 36);
        line-height:30px;
        padding: 0 20px;
        font-size: 1.2rem;
        transform:0.4s;
    }

    nav ul li a:hover{
        border-radius: 10px;
        background-color: rgb(218, 173, 115);
        width:300px;
        margin:0 auto;
    }
  .reservation{
      background-color: rgb(57, 102, 6);
      width:300px;
      margin:0 auto;
      padding:10px;
      border-radius: 10px;
      color:cornsilk;
      transition:0.4s;
  }
  .reservation:hover{
      transform:scale(1.1)
  }
    

   /*----------heder end------*/

   
         /*------main start-----*/
         #banner-section{
            background-image: url("image/cover.jpg");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

          }

          .banner-contents{
              padding:50px;
              text-align: center;
          }

          .banner-contents h1{
              width:100%;
              color:antiquewhite;
              margin:15px auto;
              font-size: 2rem;
              font-family:initial;
              background-color: rgb(41, 41, 49);
              padding: 10px;
              border-radius: 5px;
              font-family: 'Dancing Script', cursive;
             
              
          }

          .btn{
              width:160px;
              padding:10px;font-size: 1.3rem;
              border:none;
              border-radius: 5px;
              background-color:rgb(39, 38, 38);
              color:whitesmoke;
              transition:0.4s;
          }

          .btn:hover{
              transform:scale(1.2)
          }

          #about-us{
              padding:1%;
          }
          .about-us-contant{
                    text-align: center;
          }

          .about-us-contant h3{
              font-size: 2rem;
              margin-bottom: 10px;
              font-weight: bolder;
          }

          .about-us-contant p{
               font-size: 0.8rem;
               margin-bottom: 10px;
          }


/*-----------food menu section start------------*/

   #menu-section{
       padding:1%;
   }

   .card-body{
       text-align: center;
   }

   .card-body img{
       max-width: 100%;
       height:auto;
       display:block;
   }

   .item-desc{
       background-color:  gray;
   }

   .item-name{
       background-color: darkgreen;
       color:whitesmoke;
       padding:10px;
   }
   .item-desc > p{
       font-size: 0.8rem;
       padding: 10px;
       font-weight: bold;
   }

   .card{
       transition: 0.4s;
   }
   .card:hover{
       transform: scale(1.1);
   }

   .pizza{
       text-align: center;
       font-size: 2.5rem;
       font-weight: bolder;
       background-color: burlywood;
       padding: 10px;
       margin:10px 0;
       border-radius: 5px;
   }


   /*-------contact-----*/

   #contact{
       padding:1%;
       background-color: rgb(247, 184, 103);
   }

   .map{
       width:100%;
       height:250px;
   }
   .contact-deatils{
       text-align: center;
       padding:20px 0;
   }
   
   .contact-deatils h3{
       font-size: 2rem;
       margin-bottom: 20px;
       text-decoration: underline;
       font-family: 'Nanum Myeongjo', serif;
        
   }

   .contact-deatils p{
       font-size: 1rem;
   }

   .phone{
       font-size: 1.5rem;
       font-weight: bolder;
   }


   /*footer start-------*/

   footer{
       padding:1%;
       background-color: black;
       color:white;
   }
   footer p{
       line-height: 32px;
       font-size: 0.8rem;
       text-align: center;
       padding-top: 15px;
   }

   .social-menu{
       text-align:center;
      
   }

   .icon-style{
       color:antiquewhite;
       width:32px;
       height: 32px;
       line-height: 32px;
       border-radius: 50%;
       border:1px solid white;
       margin:0 10px;
       font-size: 20px;
       text-align: center;
       transition:0.4s;
   }

   .icon-style:hover{
       background-color:gray;
       transform:scale(1.2)
   }






  /*small device 576px---------------*/
@media (min-width:576px) {

    .col-sm-1 {
         width: 8.33%;
    }

    .col-sm-2 {
       width: 16.66%;
  }

    .col-sm-3 {
        width: 25%;
   }

     .col-sm-4 {
          width: 33.33%;
     }

     .col-sm-5 {
       width: 41.66%;
   }

     .col-sm-6 {
         width: 50%;
   }

      .col-sm-7 {
         width: 58.33%;
    }


      .col-sm-8 {
          width: 66.66%;
     }

     .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
       width: 83.33%;
    }
      
    .col-sm-11 {
       width: 91.66%;
    }

    .col-sm-12 {
       width: 100%;
  }   
    
}


 /*MEDIUM device 768px---------------*/
 @media (min-width:768px) {

    .col-md-1 {
         width: 8.33%;
    }

    .col-md-2 {
       width: 16.66%;
  }

    .col-md-3 {
        width: 25%;
   }

     .col-md-4 {
          width: 33.33%;
     }

     .col-md-5 {
       width: 41.66%;
   }

     .col-md-6 {
         width: 50%;
   }

      .col-md-7 {
         width: 58.33%;
      }


      .col-md-8 {
          width: 66.66%;
     }

     .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
       width: 83.33%;
    }
      
    .col-md-11 {
       width: 91.66%;
    }

    .col-md-12 {
       width: 100%;
  }   
    
}



 /*large device 968px---------------*/
 @media (min-width:968px) {



    /*-------header start-----*/

         .res-name{
             text-align: left;
         }

         nav ul{
             text-align: left;
             margin-top: 20px;
         }

         nav ul li{
             display:inline-block;

         }
         nav ul li a{
             display:inline-block;
             transition:0.4s;
         }

         nav ul li a:hover{
             background-color: transparent;
             transform:scale(1.1);
             width:auto;
             text-decoration: underline;
         }


         .reservation{
             margin-top:20px;
             background-color: rgb(146, 44, 44);
             color:rgb(175, 182, 162)
         }




         /*------main banner start-----*/

         #banner-section{
             position:relative;
             height:100vh;
             margin:0px 20px 0px 20px;
         }

         .banner-contents{
             position:absolute;
             top:50%;
             left:50%;
             transform:translate(-50%, -50%)
         }

         .banner-contents h1{
             width:700px;
             font-size:3rem;
         }
      
         .btn{
             width:300px;
             font-size: 2.5rem;
             background-color:rgb(61, 58, 17)
         }

         /*---------footer start--------*/

         footer p{
             text-align: center;

         }

         .social-menu{
             text-align: right;
         }
 
 /*-------large device start-----*/

    .col-lg-1 {
         width: 8.33%;
    }

    .col-lg-2 {
       width: 16.66%;
  }

    .col-lg-3 {
        width: 25%;
   }

     .col-lg-4 {
          width: 33.33%;
     }

     .col-lg-5 {
       width: 41.66%;
   }

     .col-lg-6 {
         width: 50%;
   }

      .col-lg-7 {
         width: 58.33%;
    }


      .col-lg-8 {
          width: 66.66%;
     }

     .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
       width: 83.33%;
    }
      
    .col-lg-11 {
       width: 91.66%;
    }

    .col-lg-12 {
       width: 100%;
  }   
    
}